PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE lecture_INFORMATION(
ID	FLOAT	NULL,
name	TEXT	NULL	);
INSERT INTO lecture_INFORMATION VALUES(1.0,'Allen');
INSERT INTO lecture_INFORMATION VALUES(27.999999999999998223,'Lee');
INSERT INTO lecture_INFORMATION VALUES(1.0,'Allen');
COMMIT;
